{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Bienvenido al Dashboard de Administrador</h1>

    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h2>Información de tu cuenta:</h2>
            
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Hola, {{ empleado.nombre }} {{ empleado.apellido }}</h5>
                        <p class="card-text">Correo: {{ empleado.email }}</p>
                        <p class="card-text">Cédula: {{ empleado.cedula }}</p>
                        <p class="card-text">Cargo: {{ empleado.get_cargo_display }}</p>
                        <p class="card-text">Sucursal: {% if empleado.sucursal %}{{ empleado.sucursal.nombre }}{% else %}No asignada{% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
        

        <h2 class="mt-5 text-center">Gestiones Administrativas:</h2>
        <div class="row">
            <div class="col-md-3 mb-3">
                <a href="{% url 'gestion_sucursales' %}" class="card text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Sucursales</h5>
                        <p class="card-text">Administrar sucursales</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="{% url 'gestion_laboratorios' %}" class="card text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Laboratorios</h5>
                        <p class="card-text">Administrar laboratorios</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mb-3">
                <a href="{% url 'listar_monodrogas' %}" class="card text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Monodrogas</h5>
                        <p class="card-text">Administrar monodrogas</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mb-3">
                <a href="{% url 'gestion_medicamentos' %}" class="card text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Medicamentos</h5>
                        <p class="card-text">Administrar medicamentos</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mb-3">
                <a href="{% url 'gestion_empleados' %}" class="card text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Empleados</h5>
                        <p class="card-text">Administrar Empleados</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
